.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.card {
  text-align: left;
  background-color: white;
  color:#282c34;
  margin: 30px;
  padding: 30px;
  border-radius: 20px;
}

.left {
  float:left; 
  width: 50vw;
}
.right {
  float:right;
  width: 50vw;
}

.App-header {
  color: white;
  display:flex;
  background-color: #282c34;
  align-items: left;
  justify-content: left;
  font-size: 20px;
}


